{% extends 'base.html.twig' %}

{% block title %}About Feedback{% endblock %}

{% block body %}

<div class="row">
    <div class="col text-center">
        <h1 class="pt-4">Feedback</h1>
        <p>About Feedback Corp.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col text-center">
        Learn more about the team behind Feedback Corp.
    </div>
</div>
{% endblock %}
